# --- Bibliothèque API Deriv ---
deriv-api==1.0.0
websockets==12.0

# --- Communication Telegram ---
python-telegram-bot==20.8
requests==2.31.0

# --- Analyse de Données & Indicateurs (RSI, EMA) ---
pandas==2.2.1
numpy==1.26.4
pandas-ta==0.3.14b0

# --- Utilitaires ---
python-dotenv==1.0.1
